.navbar {
  padding: 20px;
  background-color: blue;
}

.search {
  display: flex;
  justify-content: left;
  padding: 20px 0;
}

.card {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.gthbicn{
  
  padding-top: 8px ;
}